

.cart-table{
    height: 50vh;
    width: 80vw;
    background: var(--orange);
    display: flex;
    justify-content: center;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;

}
.image-container{
    height: 5%;
}



th{
    text-align: left;
    padding: 5px;

}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;

}

td a{
    color: black;
    font-size: 15px;
    align-items: center;
}

td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}


