@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

:root {
  --orange: #f2a20c;
}

body {
  background-color: #eee;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  padding: 5px 7px;
}
